@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  @apply flex flex-col;
}

.font-semibold {
  font-family: "Poppins", sans-serif;
}

html {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

html {
  @apply bg-gray-200;
}

@layer base {
  button {
    @apply flex flex-row items-center justify-center;
  }
}

@layer components {
  .default-input {
    @apply rounded-lg p-2 border border-gray-400 shadow-md placeholder-gray-500;
  }

  .default-submit {
    @apply text-white p-2 bg-sky-600 hover:brightness-110 rounded-full font-medium;
  }

  .badge {
    @apply py-1 px-2 rounded-full border border-black;
  }

  .input-icon {
    @apply absolute left-3 opacity-50 pointer-events-none;
  }

  .input-icon-container {
    @apply relative items-center flex-row;
  }
}
.shadow-cards {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
