@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  @apply flex flex-col;
}

.font-semibold {
  font-family: "Poppins", sans-serif;
}

html {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 85%
}

html {
  @apply bg-gray-200;
}

@layer components {
  .default-input {
    @apply rounded-lg p-2 border border-gray-400 shadow-md placeholder-gray-500;
  }

  .default-submit {
    @apply text-white p-2 bg-sky-600 hover:brightness-110 rounded-full;
  }
}
.shadow-cards {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 2000px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 55%;
  }
}

@media (min-width: 640px) {
  .bg-curve-rigth {
    background-image: url('/public/gradient_curve_rigth.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 65% calc(100% + 10rem);
  }
}