@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  @apply flex flex-col;
}

.font-semibold {
  font-family: "Poppins", sans-serif;
}

html {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

html {
  @apply bg-gray-200;
}

.default-input {
  @apply rounded-lg p-2 border border-gray-400 shadow-md placeholder-gray-500;
}

.default-submit {
  @apply text-white p-2 bg-sky-600 hover:brightness-110 rounded-full;
}
